.div1{
	background-color:#FFDB4D;
	width:100px;
	height:200px;
	position:relative;
}
.btn{
	position:absolute;
	bottom:0px;
	left:10px;
}

#header {
    position: relative;
    min-height: 150px;
  }
#header-content {
    position: absolute;
    bottom: 0;
    left: 0;
}

