body{
	padding-left:50px;
	padding-right:50px;
}
.global{
	font-size:20px;
}

.head{
	background-color: #B2D1FF;
	height:100px;
	
}
h2{
    color: black;
    text-align: center;
	padding-top:30px;
}

.vmsFilter{
	float:right;
}
.selectV{
	width:700px;
}
.vmDivBase{
	float:left;
	height:230px;
	width:215px;
	margin-left:10px;
	margin-top:10px;
	padding-left:5px;
	background-color:#94FF94;
	/* position:relative;
	z-index:1;  */
	-webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.vmDivBusy{
	background-color:#FF66A3
}
.vmDivAvailable{
	background-color:#94FF94
}
.vmDivException{
	background-color:#FFFF80
}

.vmDivBase ul{
	margin:5px;
	padding:0px;
}
.vmDivBase li{
	margin-left:10px;
	padding:0px;
}


#moreHistoryUsers{
	text-decoration:none;
}
.showMoreUsers{
	float:right;	
	margin-right:20px;
}
.showMoreUsers a:hover{
	background-color:black;
	color:white;
}
.buttonDiv{
	display: block;
    margin: 0 auto; 
	position:absolute;
	bottom:10px;
	left: 0;
	width: 100%;
	text-align: center;
}


.moreUsersPop {
  /* float:right;*/ 
  margin-right:20px;
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:block;
  margin-top: 20px;
  position:absolute;
  text-align:left;
  height:150px;
  width:205px;
  z-index:50;
  padding-top:10px;
  padding-bottom:0px;
  padding-left:10px;
  padding-right:10px;
}
/* .moreUsersPop.ng-enter{
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  
} */
.zoIn.ng-enter{
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}
.moreUsersPop.ng-leave{
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.flipY.ng-enter {
	/*-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;*/
	-webkit-animation-name: flipInY;
	animation-name: flipInY;
	/* -webkit-animation-duration: 0.5s;
	animation-duration: 0.5s; */
}


/*it don't fit for the current angular version'*/
.insert-enter {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out-cubic;
  -webkit-transition-duration: 400ms;
}
.insert-enter.insert-enter-active {
 opacity: 1;
 -webkit-transform: none;
 transform: none;
}

.vmDivBase.ng-enter{
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.vmDivBase.ng-leave{
	-webkit-animation-name: fadeOutDown;
	animation-name: fadeOutDown;
	-webkit-animation-duration: 0.005s;
	animation-duration: 0.005s;
}




/* .moreUsersPop p, .moreUsersPop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
} */