<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>Example - example-staticTree-production</title>
  
  <link href="../lib/cui-2.6.0/css/cui.min.css" rel="stylesheet" />
	<link href="../public/css/show.css" rel="stylesheet" />
	<script src="../lib/cui-2.6.0/js/cui-vendor.min.js"></script>
	<script src="../lib/cui-2.6.0/js/cui.min.js"></script>
  
  <script>
    angular.module('app', ['cui'])
    .controller('AppCtrl', function($scope) {
		$scope.test = 'hello';
      $scope.items = [
        {
          label: 'Home', // This
          id: 'home',    // and/or this required for each node
          icon: 'house',
          children: [
            {
              label: 'A child',
              id: 'child',
			  icon: 'house',
			  children: [
				{
					label: 'a child2',
					id: 'child'
				},
				{
					label: 'a child21',
					id: 'child'
				}
			  ]
            }
          ]
        }, {
          label: 'Logout'
        }
      ];
    })
	.controller('AppCtrl1', function($scope) {
	//alert($scope.test);
	$scope.test = 'hello';
	$scope.dosome = function(){
		alert($scope.test);
		//alert("hello");
	};
    // Two different ways to execute a command when clicked...

    // This one watches for when a value is something
    $scope.$watch('selectedItem', function() {
      if($scope.selectedItem == 'childId2')
        alert("Clicked childId2!")
    })

    // This one is more general -- looks for a specific function on the node
    $scope.$watch('node', function() {
      if($scope.node && $scope.node.doSomething) $scope.node.doSomething()
    })


    $scope.items = [{
      label: 'label1',
      id: 'id1',
      children: [{
        label: 'childLabel1 ( doSomething() ) (no id)', // No id, fallback to label
        doSomething: function() {
          alert('Woah! Something!');
        },
        icon: 'file'
      },{
        label: 'childLabel2 (do something else)',
        id: 'childId2',
        icon: 'flag'
      },{
        label: 'childLabel3',
        id: 'childId3',
        icon: 'file'
      }]
    },{
      label: 'label2',
      id: 'id2'
    },{
      label: 'label3 (Open by default)',
      visible: true,
      id: 'id3',
      children: [{
        label: 'child1 (no id)',
        icon: 'file'
      },{
        label: 'child2 (no id)',
        icon: 'file'
      }]
    }];
  });

  </script>
  
</head>
<body ng-app='app'>
  <div ng-controller='AppCtrl'>
      <cui-tree items="items"></cui-tree>
  </div>
  <hr />
  <div ng-controller="AppCtrl1">
    <button name="btn" ng-click="dosome();">tttt</button>
	<!-- The selectedName value can be set (case sensitive) -->
	<cui-text-box ng-model="selectedItem" placeholder="Node indentifier"></cui-text-box>

	<!-- The selectedNode value cannot -->
	The label: {{ node.label }}


	<br><br>
	<cui-tree items="items" selected-name="selectedItem" selected-node="node"></cui-tree>
  
  </div>
  
</body>
</html>
